body {
    background-color: rgb(64, 64, 192);
    position: absolute;
    top: 40%;
    left: 40%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: rgb(233, 194, 194);
    border-radius: 5px 5px;
    border: black;
}

.answer-Btns {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px;
    margin: 25px;
}

.hide {
    display: none;
}